
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__addr {
  flex: 1;
  margin-right: 1.25em;
}

.footer__logo {
  font-size: 2em;
}

.footer__btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  flex: 2;
}

.nav__item {
  flex: 1;
}

.nav__title {
  font-size: 1.25em;
  margin-bottom: 15px;
  color: #fff;
}

.nav__ul {
  list-style: none;
  padding: 0;
}

.nav__item--extra {
  margin-left: 2em;
}

.nav__ul--extra {
  margin: 0;
}

.legal {
  flex: 1;
  margin-left: 2em;
}

.legal__links {
  margin-top: 1em;
}

.heart {
  color: red;
}
