body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00BFFF;
}

.box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    position: relative; 
}

img {
    max-width: 100%;
    height: auto;
    float: left; 
    margin-right: 20px;
    border-radius: 10px;
}

.content {
    overflow: hidden; 
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px; 
    word-wrap: break-word;
}

button {
    
    
    bottom: 20px; 
   
    padding: 10px;
    font-size: 20px;
    background-color: #00BFFF;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .box, .product {
        max-width: 100%;
        margin: 20px;
        overflow: hidden; 
    }

    img {
        float: none; 
        margin-right: 0;
        margin-bottom: 10px;
    }
}
